@page "/"
@using BibliotekaMultimediowV2.Database
@using BibliotekaMultimediowV2.Types
@rendermode InteractiveServer
@inject MediaDb db
<PageTitle>Multimedia</PageTitle>

<h1>Lista</h1>

<input type="search" id="site-search" name="q" class="form-control d-inline-block w-auto" @bind="searchText" @onkeyup="Search" placeholder="Wpisz tytuł lub autora"/>

<button class="btn btn-info">
    <i class="bi bi-search"></i>
</button>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @currentType :)
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" @onclick='() => SetType("Wszystkie")'>Wszystkie</a></li>
        <li><a class="dropdown-item" @onclick='() => SetType("Filmy")'>Filmy</a></li>
        <li><a class="dropdown-item" @onclick='() => SetType("Audiobooki")'>Audiobooki</a></li>
        <li><a class="dropdown-item" @onclick='() => SetType("Ebooki")'>Ebooki</a></li>
    </ul>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rodzaj</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Rok</th>
            <th>Cena</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var audiobook in mylistaudiobooks)
        {
            <tr>
                @if (edytowanyaudiobook == audiobook)
                {
                    //TRYB EDYCJI
                    <td>@audiobook.Id</td>
                    <td>@audiobook.Rodzaj</td>
                    <td>
                        <input @bind="audiobook.Title" class="form-control" />
                    </td>
                    <td>
                        <input @bind="audiobook.Author" class="form-control" />
                    </td>
                    <td>
                        <input @bind="audiobook.Year" type="number" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @onclick="@(() => SaveAudiobook(audiobook))">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button class="btn btn-secondary btn-sm" @onclick="CancelAudiobook">
                            Anuluj
                        </button>
                    </td>
                }
                else
                {
                    //TRYB NORMALNY
                    <td>@audiobook.Id</td>
                    <td>
                        <span class="badge rounded-pill badge-audiobook">
                            @audiobook.Rodzaj
                        </span>
                    </td>
                    <td>@audiobook.Title</td>
                    <td>@audiobook.Author</td>
                    <td>@audiobook.Year</td>
                    <td>@audiobook.Price zł</td>
                    <td>
                        <button class="btn btn-warning btn-sm" @onclick="() => EditAudiobook(audiobook)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @onclick="@(() => Remove(audiobook.Id))">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                }
            </tr>
        }
        @foreach (var movie in mylistmovies)
        {
            <tr>
                @if (edytowanyfilm == movie)
                {
                    //TRYB EDYCJI
                    <td>@movie.Id</td>
                    <td>@movie.Rodzaj</td>
                    <td>
                        <input @bind="movie.Title" class="form-control" />
                    </td>
                    <td>
                        <input @bind="movie.Author" class="form-control" />
                    </td>
                    <td>
                        <input @bind="movie.Year" type="number" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @onclick="@(() => SaveMovie(movie))">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button class="btn btn-secondary btn-sm" @onclick="CancelMovie">
                            Anuluj
                        </button>
                    </td>
                }
                else
                {
                    //TRYB NORMALNY
                    <td>@movie.Id</td>
                    <td>
                        <span class="badge rounded-pill badge-movie">
                            @movie.Rodzaj
                        </span>
                    </td>
                    <td>@movie.Title</td>
                    <td>@movie.Author</td>
                    <td>@movie.Year</td>
                    <td>@movie.Price zł</td>
                    <td>
                        <button class="btn btn-warning btn-sm" @onclick="() => EditMovie(movie)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @onclick="@(() => Remove(movie.Id))">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                }
            </tr>
        }

        @foreach (var ebook in mylistebooks)
        {
            
            <tr>
                @if (edytowanyebook == ebook)
                {
                    //TRYB EDYCJI
                    <td>@ebook.Id</td>
                    <td>@ebook.Rodzaj</td>
                    <td>
                        <input @bind="ebook.Title" class="form-control" />
                    </td>
                    <td>
                        <input @bind="ebook.Author" class="form-control" />
                    </td>
                    <td>
                        <input @bind="ebook.Year" type="number" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @onclick="@(() => SaveEbook(ebook))">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button class="btn btn-secondary btn-sm" @onclick="CancelEbook">
                            Anuluj
                        </button>
                    </td>
                }
                else
                    //tryb normalny
                {
                    <td>@ebook.Id</td>
                    <td>
                        <span class="badge rounded-pill badge-ebook">
                            @ebook.Rodzaj
                        </span>
                    </td>
                    <td>@ebook.Title</td>
                    <td>@ebook.Author</td>
                    <td>@ebook.Year</td>
                    <td>@ebook.Price zł</td>
                    <td>
                        <button class="btn btn-warning btn-sm" @onclick="() => EditEbook(ebook)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @onclick="@(() => Remove(ebook.Id))">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {

    private string searchText = "";
    private string currentType = "Wszystkie";
    
    private List<Ebook> mylistebooks = new List<Ebook>();
    private List<Movie> mylistmovies = new List<Movie>();
    private List<Audiobook> mylistaudiobooks = new List<Audiobook>();
    
    //zapasowe listy
    
    private List<Ebook> allebooks = new List<Ebook>();
    private List<Movie> allmovies = new List<Movie>();
    private List<Audiobook> allaudiobooks = new List<Audiobook>();

    private Movie? edytowanyfilm = null;
    private Ebook? edytowanyebook = null;
    private Audiobook? edytowanyaudiobook = null;

    protected override void OnInitialized()
    {
        allmovies = db.Movies.ToList();
        allaudiobooks = db.Audiobooks.ToList();
        allebooks = db.Ebooks.ToList();

        Search();
    }
    
    //wyszukiwanie po tytule/autorze
    protected void Search()
    {
        var term = searchText.ToLower();
        bool searchByInput = !string.IsNullOrWhiteSpace(searchText);
        if (currentType == "Wszystkie" || currentType == "Ebooki")
        {
            if (searchByInput)
            {
                mylistebooks = allebooks.Where(x => (x.Title != null && x.Title.ToLower().Contains(term)) || (x.Author != null && x.Author.ToLower().Contains(term))).ToList();
            }
            else
            {
                mylistebooks = allebooks.ToList();
            }
        }
        else
        {
            mylistebooks.Clear();
        }
        if (currentType == "Wszystkie" || currentType == "Filmy")
        {
            if (searchByInput)
            {
                mylistmovies = allmovies.Where(x => (x.Title != null && x.Title.ToLower().Contains(term)) || (x.Author != null && x.Author.ToLower().Contains(term))).ToList();
            }
            else
            {
                mylistmovies = allmovies.ToList();
            }
        }
        else
        {
            mylistmovies.Clear();
        }
        if (currentType == "Wszystkie" || currentType == "Audiobooki")
        {
            if (searchByInput)
            {
                mylistaudiobooks = allaudiobooks.Where(x => (x.Title != null && x.Title.ToLower().Contains(term)) || (x.Author != null && x.Author.ToLower().Contains(term))).ToList();
            }
            else
            {
                mylistaudiobooks = allaudiobooks.ToList();
            }
        }
        else
        {
            mylistaudiobooks.Clear();
        }
           
    }

    private void SetType(string newType)
    {
        currentType = newType;
        Search();
    }

    
    
    //usuwanie z bazy danych
    void Remove(int id)
    {
        var ebookDb = db.Ebooks.FirstOrDefault(x => x.Id == id);
        var movieDb = db.Movies.FirstOrDefault(x => x.Id == id);
        var audiobookDb = db.Audiobooks.FirstOrDefault(x => x.Id == id);
        if (ebookDb != null)
        {
            db.Ebooks.Remove(ebookDb);
            db.SaveChanges();
        }

        if (movieDb != null)
        {
            db.Movies.Remove(movieDb);
            db.SaveChanges();
        }

        if (audiobookDb != null)
        {
            db.Audiobooks.Remove(audiobookDb);
            db.SaveChanges();
        }

        var ebookUi = allebooks.FirstOrDefault(x => x.Id == id);
        var movieUi = allmovies.FirstOrDefault(x => x.Id == id);
        var audiobookUi = allaudiobooks.FirstOrDefault(x => x.Id == id);
        if (ebookUi != null) allebooks.Remove(ebookUi);
        if (movieUi != null) allmovies.Remove(movieUi);
        if (audiobookUi != null) allaudiobooks.Remove(audiobookUi);
        
        Search();
    }
    //edytowanie
    private void EditEbook(Ebook ebook)
    {
        edytowanyebook = ebook;
    }
    private void EditMovie(Movie film)
    {
        edytowanyfilm = film;
    }

    private void EditAudiobook(Audiobook audiobook)
    {
        edytowanyaudiobook = audiobook;
    }

    private void SaveEbook(Ebook ebook)
    {
        db.SaveChanges();
        edytowanyebook = null;
    }
    private void SaveMovie(Movie film)
    {
        db.SaveChanges();
        edytowanyfilm = null; 
    }

    private void SaveAudiobook(Audiobook audiobook)
    {
        db.SaveChanges();
        edytowanyaudiobook = null;
    }
    private void CancelEbook()
    {
        edytowanyebook = null;
    }
    private void CancelMovie()
    {
        edytowanyfilm = null;
    }

    private void CancelAudiobook()
    {
        edytowanyaudiobook = null;
    }
}